@import 'bootstrap/dist/css/bootstrap';

body, html {
    height: 100%;
}

.cover-image {
    /* The image used */
    background-image: url("/assets/ropes.jpeg");
  
    /* Determined height */
    height: 60%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.suggestion-section{
    text-align: center;
    margin:  200px 50px;
}

.search-bar{
    text-align: center;
    margin: 100px;
}

.search-bar-submit, .search-bar-form{
    text-align: center;
    height: 40px;
    border-radius: 10px;
}

.card{
    border: none;
    border-radius: 15px;
    width: 20rem;
}

.bg-white {
    background-color: #f2f2f2!important;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.index-page-card{
    margin-top: 50px;
}

.forms-for-input-data{
    width: 500px;
}

.card-other{
    margin-left: 50px;
    // width: 15rem;
}