<% @program.reviews_to_receive.each do |review| %>
    <p>Commenter: <%= review.user.first_name %> <%= review.user.last_name %></p>
    <p>Content: <%= review.content %></p>
    
    <% if review.user == current_user %>
        <%= link_to 'Delete', [review.program, review], method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete comment?"}%>
    <% end %>
<% end %>