<div class='suggestions-div'>
  <h4 class='suggestion-text'>According to the information you have provided us, our team of health experts recommend that you focus on <%= @result %></h4>
  <%= render 'card/card_index', programs: @programs %>
</div>
