<div class='suggestions-div'>
  <h4 class='suggestion-text'>According To The Information You Have Provided Us, Our Team Of Health Experts Recommend That You Focus On <%= @result %></h4>
  <%= render 'card/card_index', programs: @programs %>
</div>
